{% extends 'main/layout.html' %}

{% block main_content %}
  <div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
        <span class="far fa-user fa-3x" id="icon" style="color:#39ace7;" />
    </div>

    <!-- Login Form -->
    <form method="post" action="{% url 'main:login' %}">
        {% csrf_token %}
        {{ login_error }}
        {{ form.username }}
        {{ form.password }}
{#      <input type="text" id="login" class="fadeIn second" name="login" placeholder="{{  _('login') }}">#}
{#      <input type="password" id="password" class="fadeIn third" name="password" placeholder="{{  _('password') }}" >#}
      <input type="submit" class="fadeIn fourth" value="{{  _('Sign In') }}">

    </form>

    <!-- Remind Password -->
    <div id="formFooter">
      <a class="underlineHover" href="{% url 'main:password_reset' %}">{{  _('Forgot Password') }}?</a>
    </div>

  </div>
</div>
{% endblock main_content %}
