{% extends 'main/layout.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ _('logout') }}</title>
</head>
<body>

{% block main_content %}
<script type="text/javascript">
    window.location.href="{% url 'main:login' %}"
</script>
{% endblock main_content %}
</body>
</html>