{% extends 'main/layout.html' %}

{% block main_content %}
    <div class="row">
    <a class="btn btn-primary" href="{% url 'main:act-create' %}">{{ _('add_act') }}</a>
    </div>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">{{ _('application_number') }}</th>
      <th scope="col">{{ _('application_date') }}</th>
      <th scope="col">{{ _('application_vets_type') }}</th>
      <th scope="col">{{ _('application_applicant') }}</th>
      <th scope="col">{{ _('application_vets_info') }}</th>
      <th scope="col">{{ _('application_region') }}</th>
    </tr>
  </thead>
    <tbody>
{% for app in object_list %}
    <tr>
      <th scope="row"><a href="{% url 'main:act-edit' app.id %}">{{ app.document_number }}</a></th>
      <td>{{ app.application_date }}</td>
      <td>{{ app.vets_type.vets_type_name_ru }}</td>
      <td>{{ app.firstname }} {{ app.lastname }} <br />{{ _('IIN') }}: {{ app.iin }} <br />{{ _('BIN') }}: {{ app.bin }}</td>
        <td>{{ app.manufacturer.manufacturer_name_ru }} {{ app.model }}<br/> {{ app.registration_number }}</td>
    <td>{{ app.region }}</td>
    </tr>

{% empty %}
   <tr><th colspan="6">{{ _('no apps yet') }}.</th> </tr>
{% endfor %}
    </tbody>
</table>
{% endblock main_content %}