{% extends 'main/layout.html' %}

{% block main_content %}
    <form method="POST" enctype="multipart/form-data">{% csrf_token %}
        {% for field in form.visible_fields %}
            <div class="row">
                <label class="col-md-3" for="{{ field.id_for_label }}">{{ field.label }}</label>
                <div class="col">
                    {{ field }}
                    <small id="{{ field.id }}_help" class="form-text text-muted">{{ field.help_text }}</small>
                </div>
            </div>

        {% endfor %}
    <div class="row">
        <div id="photosDiv" class="col-9"></div>
        <div class="col-2"><button class="btn btn-secondary" type="button" onclick="addPhotoField()">{{ _('add_photo') }}</button></div>
    </div>
        <input type="submit" value="Save">
    </form>
    <script type="text/javascript">
    let emptyFormUrl="{% url 'main:vets-photo-empty' %}"
    </script>
    <script type="text/javascript" src="/static/scripts/vets_create.js"></script>
{% endblock main_content %}

